html {
    height:100%;
    width:100%;
}


.principal{
    background: url("../img/days-gone.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 660px;
}


@media (max-width: 600px) {
        .principal{
        background:url("../img/days-gone.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: auto;
    }
        nav {
            display: inline;
        }
     }


 p {
     text-align: center;
     
 }    


.btn {
    color:white;
}

.btn:hover {
    color: #e0b31c;

}


li:hover{
    color: #e0b31c;
}

.login {
    background: url("../img/wallpap.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;
}

footer {
    height: 80px;
    color: yellow;
    text-align: center;
   
}

@media (max-width: 600px) {
    .login{
    background:url("../img/wallpap.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: auto;
}
 }